.nav {
  display: flex; /* Asegúrate de que .nav es un contenedor flex */
  gap: 1rem;
  justify-content: flex-end; /* Cambia esto */
  align-items: center;
  padding: 1rem 2rem;
}

svg {
  width: 30px;
  height: 30px;
}

svg:first-child {
  margin-right: 20px;
}

svg:last-child {
  margin-left: 20px;
  
}

#search {
  cursor: pointer;
  
}